 <!-- displaying movie list macro -->
 {% macro displayMovieList(news_list) %}

 {% for news in news_list %}

 <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
     <img src="{{ news.urlToImage }}" alt="{{ news.title }} poster" class="img-responsive">
     <li class="text-center">
         <a href="/movie/{{movie.id}}">
             {{ movie.title|truncate(10)}}</a>
     </li>
 </div>
 {% endfor %}
{% endmacro %}
<!-- displaying movie review macro -->
<!-- {% macro displayReviews(review_list)%}
 {% for review in review_list %}

 <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 review-card">
     <h2> {{review.title}} </h2>
     <p>{{review.review | truncate(30) }}  </p>

 </div>
 {% endfor %}

{% endmacro %} -->
